::selection { background: #bae4ea; color: black }

/* https://s9a.github.io/bae/ */
.bae-clean:not(.bae-unclean),
.bae-clean :not(.bae-unclean){background:transparent;color:inherit}
.bae-flat:not(.bae-unflat),
.bae-flat :not(.bae-unflat){border-color:transparent}
.bae-warm{color:#415!important;background:#bae!important}
.bae-cool{color:#bae!important;background:#415!important}
.bae-dawn{color:#510!important;background:#bae!important}
.bae-dusk{color:#bae!important;background:#510!important}
.bae-vine{color:#707!important;background:#4ea!important}
.bae-vein{color:#4ea!important;background:#707!important}
.bae-swag{color:#925!important;background:#bff!important}
.bae-swab{color:#bff!important;background:#925!important}
.bae-gold{color:#707!important;background:gold!important}
.bae-rush{color:gold!important;background:#707!important}
.bae-pop{color:#080808!important;background:#e8e8e8!important}
.bae-emo{color:#bae;background:#080808!important}

.so-down {
  writing-mode: vertical-rl;
}

.so-ambidex {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.seeya-twin {
  margin: auto;
  font: inherit;
  font-size: 2rem;
}

.dissolved-yo {
  margin: 0;
  padding: 0;
  list-style: none;
}

.expressed-yo {
  margin: auto;
  font: inherit;
  font-family: monospace;
  font-size: 2rem;
  font-weight: 500;
}

.framewave {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 3em 1rem 5rem;
}

.trapped-inside-the-matrix {
  display: block;
  margin: auto;
  padding: .5rem 0;
  max-width: 60rem;
}

.forced-to-play-our-hand {
}

.roots {
  font-family: Arial, sans-serif;
}

.chilll {
  font: inherit;
}

.heyyy {
  font-size: 3em;
}

.alley {
  max-width: 10em;
}

body {
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.4;
  padding: 0;
  max-width: none;
}

img, svg { max-width: 100%; height: auto }
:link, :visited { background-color: inherit; color: inherit }
:focus { outline-color: currentColor }

.case-lower { text-transform: lowercase }
.case-upper { text-transform: uppercase }
.decor-none { text-decoration: none }
.text-center { text-align: center }
.text-end { text-align: end }
.m-auto { margin: auto }
.m-inbound { margin: auto auto auto 0 }
.m-outbound { margin: auto 0 auto auto }
.m-1up { margin-top: 1rem }
.m-1down { margin-bottom: 1rem }
.m-2down { margin-bottom: 2rem }
.pad-1up { padding-top: 1rem }
.pad-1down { padding-bottom: 1rem }
.pad-mission {}
.gruve { border: 1em groove }

.block-party { display: block }
.rushhour { line-height: 1 }

[hidden] { display: none }
